In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv(r"../../Dataset/clean_d_tweets.csv")
df2 = pd.read_csv(r"../../Dataset/clean_non_d_tweets.csv")

In [3]:
df1.head()

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1261623711502753792,1261623711502753792,1.589630e+12,2020-05-16 01:45:07,-1000,NaN,the real reason why you be sad you be attach t...,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1255537912491343872,1255537912491343872,1.588179e+12,2020-04-29 06:42:19,-1000,NaN,my biggest problem be overthinking everything,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1255524270521761792,1255524270521761792,1.588175e+12,2020-04-29 05:48:07,-1000,NaN,the worst sadness be the sadness you have teac...,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1255524059334365186,1255524059334365186,1.588175e+12,2020-04-29 05:47:16,-1000,NaN,i cannot make you understand i cannot make any...,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1172463022100512769,1172463022100512769,1.568372e+12,2019-09-13 00:52:22,-1000,NaN,i do not think anyone really understand how ti...,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [4]:
df1.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'timezone', 'place',
       'tweet', 'language', 'hashtags', 'cashtags', 'user_id', 'user_id_str',
       'username', 'name', 'day', 'hour', 'link', 'urls', 'photos', 'video',
       'thumbnail', 'retweet', 'nlikes', 'nreplies', 'nretweets', 'quote_url',
       'search', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [5]:
df_1 = pd.DataFrame(df1['tweet'])
df_2 = pd.DataFrame(df2['tweet'])

df_1['label'] = 1
df_2['label'] = 0

In [6]:
df_1.head()

                                               tweet  label
0  the real reason why you be sad you be attach t...      1
1      my biggest problem be overthinking everything      1
2  the worst sadness be the sadness you have teac...      1
3  i cannot make you understand i cannot make any...      1
4  i do not think anyone really understand how ti...      1

In [7]:
df_2.head()

                                               tweet  label
0                         touch pass be the new asmr      0
1  12 years ago i call my dad and he give me some...      0
2  there be 6500 languages yet i choose to only s...      0
3  hey everyone ask for a raise today i be tell y...      0
4  i invest in 47 startups in a year here be how ...      0

In [8]:
df = pd.concat([df_1, df_2], ignore_index=True)

In [9]:
df

                                                  tweet  label
0     the real reason why you be sad you be attach t...      1
1         my biggest problem be overthinking everything      1
2     the worst sadness be the sadness you have teac...      1
3     i cannot make you understand i cannot make any...      1
4     i do not think anyone really understand how ti...      1
...                                                 ...    ...
7764  cardi b want to trademark her catchphrase okur...      0
7765  i will bet kellyanne and george conway have pr...      0
7766  fan be always ask me how they can watch the ol...      0
7767  ray romano be a hilarious comedian a kind soul...      0
7768  muellers report may be finish but mine be out ...      0

[7769 rows x 2 columns]

In [10]:
df['label'].value_counts()

label
0    4687
1    3082
Name: count, dtype: int64

In [11]:
df.to_csv("../../Dataset/Updated_Dataset/twitter_data.csv", index=False)

In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("../../Dataset/Updated_Dataset/twitter_data_with_emotions.csv")

In [14]:
df.head()

                                               tweet  label   aspect
0  the real reason why you be sad you be attach t...      1  sadness
1      my biggest problem be overthinking everything      1    anger
2  the worst sadness be the sadness you have teac...      1  sadness
3  i cannot make you understand i cannot make any...      1  sadness
4  i do not think anyone really understand how ti...      1      joy

In [15]:
df['aspect'].value_counts()

aspect
neutral     2507
sadness     1622
joy         1542
anger        833
surprise     618
fear         519
disgust      104
Name: count, dtype: int64

In [16]:
df[df['label'] == 0]['aspect'].value_counts()

aspect
neutral     1907
joy         1171
sadness      468
surprise     419
anger        360
fear         297
disgust       48
Name: count, dtype: int64